<!-- registration/password_reset_complete.html -->

{% extends 'Login/index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  .new-password-container h2 {
    color: #1b7003;  /* Set the color of the h1 tag to a shade of blue */  
    }
    .new-password-container{
      /* border: 3px solid black; */
      margin-top: -120px;
    margin-bottom: 80px;
    }
    .new-password-container a{
      color: #1b7003;
    }
</style>
<body>
  <div class="new-password-container" id="reset">
  
    <div class="pass-text"><h2>Password reset complete</h2></div>
        <h3><p>
          Your password has been set. You can now <a href="{% url 'login' %}">Signin</a> with your new password.
        </p></h3><br>
    </div>
</body>
</html>
{% endblock content %}