<!-- registration/password_reset_form.html -->

{% extends 'Login/index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .new-password-container{
    /* border: 3px solid black; */
    margin-top: -120px;
    margin-bottom: 80px;
  }
  .reset1{
    width: 100%;
  }
</style>
</head>
  <body>
    <div class="new-password-container" id="reset">
      <div class="pass-text"><h1>Reset Password</h1></div>
          <form method="POST">
            {% csrf_token %}
            
            {{ form }}
           <button type="submit" class = "reset1">Reset password</button>
          </form>
      </div>
    <!-- </div> -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var resetForm = document.getElementById("resetForm");
        if (resetForm) {
          resetForm.addEventListener("submit", function () {
            window.location.href = "{% url 'password_reset_done' %}#reset";
          });
        }
      });
    </script>
  </body>
</html>
{% endblock content %}
