<!-- registration/password_reset_confirm.html -->

{% extends 'Login/index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .new-password-container{
      /* border: 3px solid black; */
      margin-top: -120px;
    margin-bottom: 80px;
    }
    .new-password-container h2{
      margin-top: -120px;
    margin-bottom: 80px;
    color: #b80a0a;
    }
</style>
</head>
<body>
  <div class="new-password-container">
    {% if validlink %}
    <div class="pass-text"><h1>Enter new password</h1></div>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="reset1">Reset password</button>
        </form>
      {% else %}
        <h2> <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new  <a href="{% url 'login' %}">password reset</a>.
        </h2> </p>
    {% endif %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var resetForm = document.getElementById("resetForm");
        if (resetForm) {
          resetForm.addEventListener("submit", function () {
            window.location.href = "{% url 'password_reset_complete' %}#reset";
          });
        }
      });
    </script>
</body>
</html>
{% endblock content %}

